@import url('https://fonts.googleapis.com/css2? família=Inter:wght@200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #d5aff2;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: -50px;
}

.img-logo{
    width: 90px;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button{
    border: none;
    background-color: #741369;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
button {
  cursor: pointer;
}

body {
  background-image: url(../Imagens/planodefundo.png);
  background-color: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDE164;
  width: 60%;
  max-width: 800px;
  border: 2px solid #d7d744;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.answers-container {
  width: 100%;
  display: grid;
  gap: 16px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.answer:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #cccc12;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;

  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

/* Finish game */
.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

/* General styles */
.hide {
  display: none;
}

.correct {
  background-color: #049b48;
}

.incorrect {
  background-color: #f13f3f;
}
